dataset/
debug/
scripts/

runs/detect/geom_board_eval/largest/train
runs/detect/geom_board_eval/largest/valid
runs/detect/geom_board_eval/second/train
runs/detect/geom_board_eval/second/valid

runs/detect/hough_knn_eval/train
runs/detect/hough_knn_eval/valid

__pycache__/
*.pyc

*.log
*.lnk

venv/
.env/
